.experts-list {
  text-align: center;
  margin-left: $grid;
  margin-right: $grid;

  @include respond-to(small) {
    margin: 0 auto;
    max-width: $sizeL;
  }

  .cover {
    height: 220px;
  }

  .expert {
    background: white;
    position: relative;
    margin-bottom: $grid;

    @include respond-to(small) {
      display: inline-block;
      vertical-align: top;
      width: 44%;
      margin-bottom: 4%;

      &:nth-child(odd) {
        margin-right: 2%;
        margin-left: 4%;
      }

      &:nth-child(even) {
        margin-right: 4%;
        margin-left: 2%;
      }
    }

    a {
      display: block;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
      }
    }

    .cover {
      background: $color-text;
      @include position(relative, 0px 0px 0 0px);

      &:after {
        content: '';
        background: black;
        opacity: .3;
        @include position(absolute, 0px 0px 0px 0px);
      }
    }

    .userpic {
      @include position(absolute, 170px 0 0 50%);
      transform: translateX(-50%);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    }

    .skill-title {
      color: white;
      @include position(absolute, 50% 0 0 50%);
      transform: translate(-50%,-50%);
      z-index: 2;
    }

    .price {
      font-family: $accent-font-family;
      font-size: 1.2em;
      margin-bottom: $grid*2;
    }

    .info {
      padding-top: 60px;
    }

    a {
      color: inherit;

      * {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  nav {
    margin-bottom: $grid*3;

    span {
      font-family: $accent-font-family;
      font-size: 1.2em;

      @include respond-to(small) {
        font-size: 1.4em;
      }
    }
  }

  select {
    margin: 0 $grid/4;
    background: transparent;
    text-decoration: underline;
    border: none;
    color: $color-accent;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;
  }

  .userpic {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: $grid/2;
  }

  .job {
    color: $color-grey;
  }

  .price {
    margin-bottom: $grid;
  }

  h1 {
    margin-bottom: $grid/2;
  }

  .description {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: $grid*3;
    color: $color-grey;
  }
}

.link-list {
  display: inline;
  position: relative;

  button.anchorlike {
    transition: all $transitionTime $baseTransitionStyle;
    display: inline;
    outline: none;
    text-decoration: underline;
    color: $color-accent;
    font-family: $accent-font-family;
    font-size: 1.4em;

    @include respond-to(small) {
      font-size: 1.6em;
    }

    &:hover {
      color: $color-text;
    }
  }

  ul {
    @include position(absolute, 0 0 0 0);
    background-color: white;
    border: 1px solid $color-accent;
    display: none;
    list-style-type: none;
    padding: $grid/2 $grid/2 0 $grid/2;
    z-index: 100;
    font-size: 1.1em;

    li {
      display: block;
      margin-bottom: 10px;
      text-align: left;
      white-space: nowrap;
    }
  }

  &.opened {
    ul {
      display: block;
    }
  }
}

.categories {
  margin-bottom: $grid*2;
}

.cities {
  margin-bottom: $grid/2;
}
