.onboarding-step {
	text-align: center;
	max-width: 280px;
	margin: 0 auto;
  margin-bottom: $grid*6;

	@include respond-to(medium) {
		max-width: 470px;
	}

	.button, input[type=submit] {
		font-size: 1.2em;
		padding: $grid/2 $grid*2;
	}

  .button {
    @include respond-to(medium) {
      margin: 0 $grid*4 $grid $grid*4;
    }
  }

	a {
		display: inline-block;
	}

	.learn-more {
		text-decoration: underline;
	}
}

a.add-social {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: $grid*2;
}

.social-networks {
  transition: all $transitionTime $baseTransitionStyle;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &.active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
