.onboarding-step {
	text-align: center;
	max-width: 280px;
	margin: 0 auto;
  margin-bottom: $grid*6;

	@include respond-to(medium) {
		max-width: 470px;
	}

  .phone {
    margin-top: $grid*6;
    margin-bottom: -$grid*4;
  }

  ol.step1 {
    font-family: $accent-font-family;
    font-size: 1.2em;
    margin-top: $grid*6;

    li {
      margin: 0 $grid;
      display: inline-block;
    }
  }

  .check_boxes,
  .radio_buttons {
    margin-bottom: $grid;
  }

  .checkbox,
  .radio {
    display: block;
    border-bottom: 1px solid $color-grey-light;
    position: relative;
    padding: $grid;

    &:nth-child(2) {
      border-top: 1px solid $color-grey-light;
    }

    label {
      cursor: pointer;
      margin-bottom: 0;
    }

    input {
      cursor: pointer;
      display: inline-block;
      margin: 0 0.3em 0 0;
      width: auto;
    }

  }

	.button, input[type=submit] {
		font-size: 1.2em;
		padding: $grid/2 $grid*2;
	}

  .button {
    @include respond-to(medium) {
      margin: 0 $grid*4 $grid $grid*4;
    }
  }

	a {
		display: inline-block;
	}

	.learn-more {
		text-decoration: underline;
	}
}

a.add-social {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: $grid*2;
}

.social-networks {
  transition: all $transitionTime $baseTransitionStyle;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &.active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

.price {
  position: relative;

  .dollar {
    @include position(absolute, 35px 0 0 -15px);
    font-size: 1.2em;
  }
}
