.message-popup {
  transition: opacity $transitionTime $baseTransitionStyle, visibility $transitionTime $baseTransitionStyle;
  visibility: hidden;
  z-index: 9999999;
  opacity: 0;
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);

  &:before {
    content: '';
    background: $color-grey-medium;
    @include position(fixed, 0px 0px 0px 0px);
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .wrapper {
    @include position(absolute, 50px 0 0 50%);
    transform: translate(-50%,0);

    @include respond-to(medium) {
      @include position(absolute, 50% 0 0 50%);
      transform: translate(-50%,-50%);
      max-width: 500px;
    }
  }

  textarea {
    height: 200px;
  }

  .message-button {
    display: inline-block;
  }
}

body.profile {
  position: relative;
  top: 63px;

  .message-button {
    font-size: 1.2em;
    padding: $grid/2 $grid*2;
  }

  header.main {
    @include position(absolute, 0px 0px 0 0px);
    z-index: 999;

    .logo {
      color: white;

      &:hover {
        color: $color-grey-medium!important;
      }
    }

    .button.become {
      color: white!important;
      border-color: white;

      &:hover {
        background: white!important;
        color: $color-text!important;
      }
    }

    .menu-button {
      color: white!important;

      &:hover {
        color: $color-grey-medium!important;
      }
    }

    nav.main {
      a {
        color: white!important;

        &:hover {
          color: $color-grey-medium!important;
        }
      }

      &.active {
        a {
          color: $color-grey!important;

          &:hover {
            color: $color-text!important;
          }
        }

        .button.become {
          border-color: $color-accent;
          color: $color-accent!important;

          &:hover {
            color: white!important;
            background: $color-accent!important;
          }
        }
      }
    }
  }

  header.profile {
    background: $color-text;
    position: relative;
    margin-bottom: $grid*3;
  }

  .userpic {
    @include position(absolute, 0 0 -50px 50%);
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  }

  .about {
    margin-bottom: $grid*2;
  }

  .urls {
    li {
      border-bottom: 1px solid $color-grey-light;
      padding: $grid;

      &:first-child {
        border-top: 1px solid $color-grey-light;
      }
    }
  }

  .name {
    margin-bottom: 0;
  }

  .job {
    color: $color-grey;
  }

  .tags {
    margin-bottom: $grid*2;
    li {
      display: inline-block;
      border-radius: 30px;
      background: $color-grey-light;
      padding: $grid/4 $grid/2;
      margin: $grid/4;
    }
  }

  .price {
    margin-bottom: $grid;
  }

  .bg {
    opacity: .4;
    height: 360px;
  }

  .skill-title {
    color: white;
    text-align: center;
    @include position(absolute, 50% 0 0 50%);
    transform: translate(-50%,-50%);
  }

  section.profile {
    text-align: center;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: $grid*6;

    @include respond-to(medium) {
      max-width: 470px;
    }
  }
}
