p Skillpocket is a community marketplace that helps you find, connect and compensate smart people for their time.

p Whether you seek advice, need a freelancer or want to learn something new, Skillpocket provides a platform that allows you to easily book the person you need on an hourly basis — in person or online.

p If you got time and skills that you want to share, then it's also a great way to give something back, support others — and earn a little extra.

p It's our mission to help create a future where individuals and micro-organizations have access to all the world's skilled professionals — the same way only huge corporations had in the past.

p We believe that if we are able to scale 1-to-1 interactions between professionals then we are going to be one step closer to a world where more people create better things, for everyone, every day.

p Thanks for being here,
p Team Skillpocket