.button, input[type=submit] {
	transition: background $transitionTime $baseTransitionStyle, color $transitionTime $baseTransitionStyle;
	border: 1px solid $color-accent;
	border-radius: 30px;
	color: $color-accent;
	padding: $grid/4 $grid;
	font-family: $accent-font-family;
	margin-bottom: $grid;

	&:hover {
		background: $color-accent;
		color: white;
	}
}

label {
	color: $color-grey;
	margin-bottom: $grid/2;
	display: block;
}

input[type=submit] {
	background: white;
	width: auto;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

abbr { display: none; }

input, textarea {
  display: inline-block;
  outline: none;
  border-radius: 0;
  background: $color-grey-light;
  border: 0;
  resize: none;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: $input_padding;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: $grid/2*3;
  font-size: 1.2em;

  &:focus::-webkit-input-placeholder {
    color: $color-grey-light;
  }

  &::-webkit-input-placeholder {
    text-align: center;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-grey-light inset;
    border: none;
    background: $color-grey-light;
  }
}

select {
  margin-bottom: $grid/2*3;
  width: 100%;
}

.image_upload:before {
  content: "g";
  font-family: "skillpocket" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include position(absolute, 50% 0 0 50%);
  font-size: 2.4em;
  color: white;
  margin-left: -18px;
  margin-top: -16px;
}

.help-block {
  color: red;
  display: block;
  margin-top: -25px;
  margin-bottom: $grid;
}

div.image_upload {
  background-size: cover;
  background-color: $color-grey;
  position: relative;
  margin-bottom: $grid*2;

  .help-block {
    margin-top: $grid/2;
    @include position(absolute, 0 0px -45px 0px);
  }

  .control-label {
    background: white;
    padding-bottom: $grid/2;
    margin-bottom: 0;
  }

  &.user_photo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: $grid/2*3;
    border-radius: 100%;
  }

  &.photo,input[type="file"] {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &.banner {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &.photo {
    opacity: .6;
  }

  &.banner {
    height: 150px;
  }

  input[type="file"] {
    @include position(absolute, 0px 0px 0px 0px);
    cursor: pointer;
    opacity: 0;
  }
}
