// * {
// 	@include transition(all 600ms);
// }

body {
	color: $color-red;
	font-size: 14px;
	@include nowie_vremena;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include animation(fadein 2s);
}

span {
	@include nowie_vremena;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a {
	color: $color-black;
	text-decoration: none;
}

#typed-cursor {
	opacity: 1;
	@include animation(blink 0.7s 0 linear both infinite);
}
