body {
	color: $color-red;
	font-size: 14px;
	@include nowie_vremena;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

span {
	@include nowie_vremena;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a {
	color: $color-black;
	text-decoration: none;
}
