.main {
	padding: 0 $padding/2;
	width: $width-max;
	margin: 0 auto;
}

.intro {
	position: relative;
	padding-top: $padding*2;
}

.phone, .about {
	display: inline-block;
	vertical-align: top;
}

.about {
	width: 610px;
	padding-top: 145px;

	.icon-logo {
		font-size: 8em;
		float: left;
		margin-top: -15px;
	}

	.title, h1, p, form {
		margin-left: 140px;
		margin-bottom: $margin/3*2;
		padding-right: $padding*3;
	}

	.title {
		font-size: 1.6em;
	}

	p {
		font-size: 1.2em;
		line-height: 1.4;
		font-family: Anonymous Pro;
	}

	h2 {
		position: absolute;
		bottom: 95px;
	}

	input {
		font-size: 1.2em;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		@include nowie_vremena;
		padding: 10px 15px 10px 10px;
		display: inline-block;
		-webkit-border-radius: 0;
		outline: none;
		@include border-radius(0);
		border: 0;
		resize: none;
		margin: 0;

		&:-webkit-autofill {
			  -webkit-box-shadow: 0 0 0px 1000px white inset;
			  border: none;
			  background: white;
		}

		&:-webkit-autofill {
			  -webkit-box-shadow: 0 0 0px 1000px white inset;
			  border: none;
			  background: white;
		}

	}

	input[type=submit] {
		@include transition(all 300ms);
		padding: 10px 30px;
		cursor: pointer;
		-webkit-appearance: none;
		border: 1px solid $color-red;
		background: white;
		color: $color-red;
		@include border-radius(30px);

		&:hover {
			background: $color-red;
			color: white;
		}
	}

	input[type=text] {
		font-family: Anonymous Pro;
		color: $color-black;
		width: 100%;
		width: 240px;
		background: $color-grey;
		margin-right: $margin/2;
	}
}

.phone {
	background: $color-grey;
	width: 370px;
	height: 770px;
	text-align: center;
	position: relative;
	@include border-radius(60px);

	&:before, &:after {
		position: absolute;
		top: 60px;
		left: 50%;
		content: "";
		background: $color-grey-dark;
	}

	&:before {
		width: 60px;
		height: 14px;
		margin-left: -30px;
		@include border-radius(14px);
	}

	&:after {
		width: 18px;
		height: 18px;
		margin-left: -60px;
		margin-top: -2px;
		@include border-radius(18px);
	}

	.carousel {
		background: $color-black;
		width: 320px;
		height: 568px;
		position: absolute;
		top: 130px; left: 50%;
		margin-left: -160px;
		overflow: hidden;
	}
}

.how-it-works {
	width: 100%;
	border-top: 1px solid $color-grey;
	position: relative;
	top: -72px;
	z-index: 2;
	background: white;
	height: 150px;

	.wrapper {
		padding: $padding/2;
		width: $width-max;
		margin: 0 auto;	}
}
