.main {
	padding: 0 $padding/2;
	max-width: $width-max;
	margin: 0 auto;
}

.intro {
	position: relative;
	overflow: hidden;
	padding-top: $padding*2;

	@include respond-to(tablet) {
		text-align: center;
	}
}

.phone, .about {
	display: inline-block;
	vertical-align: top;
}

.about {
	max-width: 610px;
	padding-top: 145px;

	@include respond-to(tablet) {
		max-width: 400px;
		padding-top: 0;
		margin: 0 auto;
	}

	.icon-logo {
		font-size: 8em;
		float: left;
		margin-top: -15px;

		@include respond-to(tablet) {
			float: none;
			margin-top: 0;
			margin-bottom: $margin/2;
		}
	}

	.title, h1, p, form {
		margin-left: 140px;
		margin-bottom: $margin/3*2;
		padding-right: $padding*3;

		@include respond-to(tablet) {
			margin-left: 0;
			padding-right: 0;
		}
	}

	.title {
		font-size: 1.6em;
	}

	p {
		font-size: 1.2em;
		line-height: 1.4;
		@include animation(copy 1s 1600ms both);

		@include respond-to(tablet) {
			animation: none;
			-webkit-animation: none;
		}
	}

	h2 {
		position: absolute;
		bottom: 85px;
		@include animation(copy 1s 1800ms both);

		@include respond-to(tablet) {
			display: none;
		}

		.icon-arrow {
			font-size: 3em;
			display: inline-block;
			vertical-align: middle;
			margin-left: -5px;
		}
	}

	form {
		@include animation(copy 1s 1600ms both);

		@include respond-to(tablet) {
			animation: none;
			-webkit-animation: none;
		}
	}
}

.phone {
	@include animation(phone .6s 1.8s ease-in both);
	background: $color-grey;
	width: 370px;
	height: 770px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	@include border-radius(60px);

	@include respond-to(tablet) {
		animation: none;
		-webkit-animation: none;
		display: block;
		margin: 0 auto;
		margin-top: $margin;
	}

	@include respond-to(mobile) {
		margin: 0 auto;
		margin-top: -$margin*3;
		left: 50%;
		margin-left: -185px;
		transform: scale3d(0.7, 0.7, 1);
		-webkit-transform: scale3d(0.7, 0.7, 1);
	}

	&:before, &:after {
		position: absolute;
		top: 60px;
		left: 50%;
		content: "";
		background: $color-grey-dark;
	}

	&:before {
		width: 60px;
		height: 14px;
		margin-left: -30px;
		@include border-radius(14px);
	}

	&:after {
		width: 18px;
		height: 18px;
		margin-left: -60px;
		margin-top: -2px;
		@include border-radius(18px);
	}

	.carousel {
		background: $color-black;
		width: 320px;
		height: 568px;
		position: relative;
		top: 130px; left: 50%;
		margin-left: -160px;
		overflow: hidden;
	}
}

.how-it-works {
	width: 100%;
	border-top: 1px solid $color-grey;
	position: relative;
	top: -72px;
	z-index: 2;
	background: white;
	line-height: 1.4;
	@include animation(copy 1s 1800ms both);

	@include respond-to(mobile) {
		top: -166px;
	}

	.wrapper {
		padding: $padding*2 $padding/2 0 $padding/2;
		max-width: $width-max;
		margin: 0 auto;

		@include respond-to(tablet) {
			animation: none;
			-webkit-animation: none;
		}

		.step {
			display: inline-block;
			vertical-align: top;
			padding-right: 4%;
			width: 16%;

			@include respond-to(tablet) {
				display: block;
				width: 100%;
				padding-right: 0;
				text-align: center;
				margin: 0 auto;
				margin-bottom: $margin;
				max-width: 300px;
			}

			.icon {
				font-size: 6em;
				display: block;
				text-align: center;
			}

			.title {


				@include respond-to(tablet) {
					font-size: 1.2em;
				}
			}
		}
	}
}

footer {
	border-top: 1px solid $color-grey;
	@include animation(copy 1s 1800ms both);

	.follow {
		// @include animation(copy 1s 1800ms both);
		padding: $padding*2 $padding/2;
		max-width: $width-max;
		margin: 0 auto;
		text-align: center;

		p { margin-bottom: $margin; }

		a {
			@include transition(all 300ms);
			font-size: 1.6em;
			color: $color-red;
			padding: $padding/2;
			margin: 0 $margin/6;
			@include border-radius(30px);
			border: 1px solid $color-red;

			&:hover {
				background: $color-red;
				color: white;
			}
		}
	}
}
