body.popup-opened {
  overflow: hidden;

  .popup {
    @include translateY(0%);
    overflow-y: auto;
  }
}

.popup {
  @include transition(all 600ms);
  position: fixed;
  background: white;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 4;
  color: $color-red;
  @include translateY(100%);

  .title {
    font-size: 2em;
    text-align: center;
    padding-top: $padding*3;
    padding-bottom: $padding;
    color: $color-black;
    line-height: 1.4;

    @include respond-to(mobile) {
      padding-top: $padding;
      font-size: 1em;
    }
  }

  .wrapper {
    max-width: 365px;
    margin: 0 auto;
    padding-bottom: $padding*2;

    @include respond-to(mobile) {
      width: 265px;
    }

    &.success, &.error {
      .cancel { opacity: 1; }
      .title {
        color: $color-red;
        padding: 0;
        font-size: 2.6em;
      }
      .icon-logo {
        padding-top: 80px;
      }
      .button { font-size: 1.4em; }
    }
  }

  input, textarea {
    margin-right: 0;
    margin-bottom: $margin/2;
    width: 340px;

    @include respond-to(mobile) {
      width: 240px;
      font-size: 1em;
      margin-bottom: $margin/3;
    }
  }

  .submit {
    width: 100%;
    font-size: 1.2em;

    @include respond-to(mobile) {
      font-size: 1em;
    }
  }

  .cancel {
    color: $color-black;
    opacity: .5;
    display: block;
    text-align: center;
  }
}
