.popup {
  @include transition(all 600ms);
  position: fixed;
  background: white;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 4;
  color: $color-red;
  @include translateY(100%);

  &.opened {
    @include translateY(0%);
  }
}
