a {
	cursor: pointer;
}

body.opened {
	overflow: hidden;

	.main.web-app {
		header {
			opacity: 1;
			background: $color-black;

			a {
				color: white;
			}

			nav {
				@include translateY(0%);
				// margin-top: 60px;
			}
		}
		.carousel, .next, .previous {
			@include translateY(105%);
		}
	}
}

.main.web-app {
	max-width: 100%;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: $color-black;

	header {
		@include transition(all 600ms);
		a { @include transition(all 600ms); }
	}

	.carousel, .next, .previous {
		@include transition(all 600ms);
		@include translateY(0%);
	}

	.next, .previous {
		@include transition(all 600ms);
		position: absolute;
		top: 0; bottom: 0;
		opacity: .5;
		width: 60px;
		z-index: 2;
		font-size: 4em;

		@include respond-to(mobile) {
			display: none;
		}
	}

	nav {
		position: absolute;
		top: 0; left: 0; right: 0;
		background: $color-black;
		overflow-y: auto;
		@include translateY(-100%);
		@include transition(all 600ms);
		padding-top: $padding*2;

		li a {
			padding: $padding;
			border-top: 1px solid #333;
			font-size: 1.2em;
			color: white;
			display: block;

			// @include respond-to(mobile) {
			// 	font-size: 1em;
			// 	padding: $padding/2;
			// }

			// @include respond-to(landscape) {
			// 	font-size: 1em;
			// 	padding: $padding/2;
			// }

			&:hover { background: #333; }

			&.active {
				background: #333;
				color: white;
			}
		}
	}

	.logo, .tags-filter { z-index: 2; }

	.tags-filter { position: relative; }

	.carousel {
		z-index: 1;

		ul { overflow: hidden; }

		ul li {
			height: auto;
			min-height: initial;
		}
	}

	.previous {
		left: 0;

		.icon-previous {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -28px;
			margin-left: -15px;
		}
	}

	.next {
		right: 0px;

		.icon-next {
			position: absolute;
			right: 50%;
			top: 50%;
			margin-top: -28px;
			margin-right: -15px;
		}
	}

	.last {
		.button {
			border-radius: 80px;
			.small {
				display: block;
				font-size: .6em;
			}
		}
	}

	.introduction, .last,
	.wrapper.success, .wrapper.form {
		background: white;
		color: $color-red;
		text-align: center;

		.wrapper {
			width: 100%;
			max-width: 380px;
			margin: 0 auto;
			padding-top: 80px;

			@include respond-to(mobile) {
				max-width: 280px;
			}
		}

		.icon-logo { font-size: 8em; }

		.title { font-size: 1.2em; }

		h1, .title, .icon-logo, .steps, .button {
			margin-bottom: $margin/2;
		}

		p {
			font-size: 1.2em;
			margin-bottom: $margin/6;
		}

		.button {
			margin-top: $margin/2;
			font-size: 1.8em;
			border: 1px solid $color-red;
			color: $color-red;
			&:hover { background: $color-red; color: white; }
		}

		.readmore a {
			color: $color-red;
			text-decoration: underline;
			padding-bottom: $margin;
		}
	}

	.content {
		position: relative;
		padding: 0;
	}

	.top {
		text-align: center;
	}

	.skill-title, .skill-about, .user-about, .tags {
		max-width: 612px;
		margin: 0 auto;
	}

	.skill-title {
		margin-bottom: $margin;
		max-width: 512px;
		font-size: 3em;
		padding-top: 80px;

		@include respond-to(mobile) {
			font-size: 2em;
			padding: 60px $padding/2 0 $padding/2;
			margin-bottom: $margin/2;
		}

		@include respond-to(landscape) {
			font-size: 2em;
			padding: 60px $padding/2 0 $padding/2;
			margin-bottom: $margin/2;
		}
	}

	.skill-user {
		position: absolute;
		left: 0; right: 0; bottom: $padding; top: auto;
		text-align: center;
		max-width: 290px;
		margin: 0 auto;

		@include respond-to(mobile) {
			bottom: $padding/2;
		}
	}

	.links {
		margin-top: $margin/2;
		a {
			font-size: 1.4em;
			margin-right: $margin/2;
			&.website { font-size: 1em; }
		}
	}

	.skill-about, .user-about, .tags {
		font-size: 1.2em;
		padding-top: $padding/2;
	}

	.white {
		padding-bottom: $padding;
		border-left: 1px solid $color-grey;
	}

	.color-3FB39D {
		background: #3FB39D;
		.button:hover {
			color: #3FB39D;
		}
	}

	.color-E47A36 {
		background: #E47A36;
		.button:hover {
			color: #E47A36;
		}
	}

	.color-E5C038 {
		background: #E5C038;
		.button:hover {
			color: #E5C038;
		}
	}

	.color-E14744 {
		background: #E14744;
		.button:hover {
			color: #E14744;
		}
	}

	.color-3FB39F {
		background: #3FB39F;
		.button:hover {
			color: #3FB39F;
		}
	}
}
