development:
  USERNAME: skillpocket
  PASSWORD_HASH: c6cc3a37dfcd3281d9a7fac7217579bb31437f7e
  TWITTER_KEY: ifVw3vQxTWwwJEVz6XiaM6lO3
  TWITTER_SECRET: qjdS4ELmAiTxyyAl1Q8hJinDOTNMBrBopa9JTSaa4Q01VbKVcu