default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: skillpocket_dev

test:
  <<: *default
  database: skillpocket_test

production:
  <<: *default
  database: skillpocket_production
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
