= "Hi #{@expert['first_name']},"
br
= "#{@connect['name']} wants to get in touch with you:"
br
br
= @connect.topic
br
br
a href="mailto:#{@connect['email']}"
  = "Respond to #{@connect['name']}"
br
br
| Best Regards,
br
| Skillpocket
