header.main {
	font-family: $accent-font-family;
	position: relative;
  top: 63px;
	height: 50px;
	margin-bottom: $grid*2;
	color: $color-text;

	@include respond-to(medium) {
		margin-bottom: $grid*6;
	}
}

nav.main {
	transition: opacity $transitionTime $baseTransitionStyle, visibility $transitionTime $baseTransitionStyle;
	opacity: 0;
  visibility: hidden;
	text-align: center;
	font-size: 1.2em;
	@include position(fixed, 0px 0px 0px 0px);
	background: white;
  z-index: 999;
  transform: translateZ(0);

	@include respond-to(medium) {
    position: static;
    opacity: 1;
    visibility: visible;
    text-align: right;
    background: transparent;
	}

	&.active {
		opacity: .95;
    visibility: visible;
	}

	ul {
		@include position(absolute, 50% 0 0 50%);
		transform: translate(-50%,-50%);

    @include respond-to(medium) {
      font-size: .9em;
      @include position(absolute, 15px 15px 0 0);
      transform: translate(0,0);
    }
	}

	li {
		margin-bottom: $grid/2;

		@include respond-to(medium) {
			margin-bottom: 0;
      display: inline-block;
      margin-left: 15px;
		}
	}

	a {
		display: block;
		color: $color-grey;

		&:hover { color: $color-text; }
	}
}

.overlay {
	@include position(absolute, 0px 0px 0px 0px);
}

.icon-logo {
  font-size: 2.1em;
  margin-right: $grid/4;

  &:before { display: block; }
}

.logo {
	@include position(absolute, $grid/4*3 0 0 $grid/4*3);
  color: $color-grey;

  &:hover {
    color: $color-text;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.menu {
	@include position(absolute, 14px 14px 0 0);

  @include respond-to(medium) {
    // @include position(absolute, 16px 15px 0 0);
    display: none;
  }
}

.menu-button {
  margin-left: $grid;
}

.become {
  display: none;
  margin-bottom: 0;

  @include respond-to(small) {
    display: inline-block!important;
  }
}
