@mixin nowie_vremena() {
	font-family: "nowie_vremena", Helvetica, Arial, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}


@mixin keyframes( $animationName ) {
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
  @-ms-keyframes  $animationName {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(blink) {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@include keyframes(copy) {
	0% { opacity: 0; }
	70% { opacity: 0; }
	100% { opacity: 1; }
}

@include keyframes(phone) {
	0% { transform: translate3d(0px, 50px, 0px) scale3d(0.9, 0.9, 1); -webkit-transform: translate3d(0px, 50px, 0px) scale3d(0.9, 0.9, 1); opacity: 0; }
	50% { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1; }
	100% { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1; }
}

@include keyframes(pane) {
  0% { transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); }
  20% { transform: translate3d(-2%, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(-2%, 0px, 0px) scale3d(1, 1, 1); }
  30% { transform: translate3d(-2%, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(-2%, 0px, 0px) scale3d(1, 1, 1); }
  45% { transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); }
  100% { transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); -webkit-transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1); }
}
