$font-size: 14px;

$color-text: #222;
$color-grey: #7F7F7F;
$color-grey-light: #eee;
$color-accent: #42B59F;

$grid: 20px;

$base-font-family:  	 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$accent-font-family:   "nowie_vremena", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$baseTransitionStyle: cubic-bezier(0.660, 0.000, 0.070, 1.000);
$transitionTime: .3s;

$sizeXL:        1460px;
$sizeL:         1025px;
$sizeM:         769px;
$sizeS:         321px;

$input_padding: 10px 15px 10px 10px;
