$color-red: #FA666C;
$color-grey: #EEE;
$color-grey-dark: #CBCACA;
$color-black: #111;

$color-pane-green: #45B29D;
$color-pane-yellow: #E4BF46;
$color-pane-orange: #E27A3F;
$color-pane-red: #DF4949;
$color-pane-blue: #35A8E9;


$width-max: 980px;

$padding: 30px;
$margin: 30px;

$break-tablet: 1023px;
$break-phone: 623px;
$break-landscape: 620px;
